<mat-stepper linear="false" #stepper>
  <mat-step [stepControl]="formGroup" label="Select a video">
    <mat-card>
      <div mat-card-content *ngIf="!videoPath">No video selected</div>
      <div mat-card-content>
        <p>{{ videoName }}</p>
        <video width="300" height="150" *ngIf="videoPath">
          <source [src]="videoPath+'#t=0.1'" type="video/mp4" />
       </video>
      </div>
      <div mat-card-actions align="end">
        <button type="button" mat-raised-button (click)="input('mp4')">Choose File</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-card>
  </mat-step>
  <mat-step [stepControl]="formGroup" label="Select an audio">
    <mat-card>
      <div mat-card-content *ngIf="!audioPath">No audio selected</div>
      <div mat-card-content *ngIf="audioPath">
        <p>{{ audioName }}</p>
        <img src="./assets/audio.png" alt="audio">
      </div>
      <div mat-card-actions align="end">
        <button type="button" mat-raised-button (click)="input('mp3')">Choose File</button>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-card>
  </mat-step>
  <mat-step [stepControl]="formGroup" label="Fill the informations">
    <mat-card>
      <mat-grid-list cols="2" rowHeight="100px">
      <form mat-card-content [formGroup]="formGroup">
          <mat-grid-tile>
            <mat-form-field appearance="outline">
              <mat-label>Name</mat-label>
              <input matInput formControlName="name">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-button-toggle-group #type="matButtonToggleGroup">
              <mat-button-toggle value="vod">
                  VOD
              </mat-button-toggle>
              <mat-button-toggle value="short">
                  Short
              </mat-button-toggle>
          </mat-button-toggle-group>
          </mat-grid-tile>
          <mat-grid-tile *ngIf="type.value==='vod'">
            <mat-form-field appearance="outline">
              <mat-label>Duration</mat-label>
              <input matInput formControlName="duration" type="number">
              <mat-hint align="end">in secondes</mat-hint>
            </mat-form-field>
          </mat-grid-tile>
        </form>
        </mat-grid-list>
      <div mat-card-actions align="end">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-card>
  </mat-step>
  <mat-step label="Done">
    <mat-card>
      <p mat-card-content>You are now done.</p>
      <div mat-card-actions align="end">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
        <button mat-button (click)="createVideo()" [disabled]="!formValid()">Create Video</button>
      </div>
    </mat-card>
  </mat-step>
</mat-stepper>
