<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Montage
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- SLIDER -->
<ion-content [fullscreen]="true">
  <swiper (swiper)="onSwiper($event)">
    <ng-template swiperSlide>
      <div>
        <h1>Add a video</h1>
        <p class="title-file">{{ videoPath }}</p>
        <ion-button class="btn-file" expand="block" (click)="modal.present()">Chose a file</ion-button>  
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div>
        <h1>Add a song</h1>
        <p class="title-file">{{ audioPath }}</p>
        <ion-button class="btn-file" expand="block" (click)="modal.present()">Chose a file</ion-button>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div>
        <h1>Fill informations</h1>
        <ion-input #title placeholder="Title"></ion-input>
        <ion-segment (ionChange)="videoTypeChanged($event)">
          <ion-segment-button value="vod">
            <ion-label>VOD</ion-label>
          </ion-segment-button>
          <ion-segment-button value="short">
            <ion-label>Short</ion-label>
          </ion-segment-button>
        </ion-segment>
        <ion-input #duration *ngIf="typeVideo==='vod'" type="number" placeholder="Duration"></ion-input>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div>
        <h1>Verify video informations</h1>
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <ion-icon *ngIf="videoPath" name="videocam-outline"></ion-icon>
            </ion-col>
            <ion-col size="6">
              <ion-icon *ngIf="audioPath" name="musical-notes-outline"></ion-icon>
            </ion-col>
            <ion-col size="6">
              {{ title?.value }}
              <ion-icon name="attach-outline"></ion-icon>
            </ion-col>
            <ion-col size="6">
              {{ typeVideo==='short'?1:duration?.value }}
              <ion-icon name="time-outline"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-button class="btn-file" expand="block" [disabled]="!formValid()" (click)="createVideo()">Create video</ion-button>
      </div>
    </ng-template>
  </swiper>
</ion-content>

<!-- FILE EXPLORER MODAL -->
<ion-modal #modal [canDismiss]="true" [presentingElement]="presentingElement">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons *ngIf="path.length > 0" slot="start">
          <ion-button (click)="navigateBackward()">
            <ion-icon name="chevron-back-outline"></ion-icon>
            {{ path[path.length-1] }}
          </ion-button>
        </ion-buttons>
        <ion-title>Modal</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="modal.dismiss()">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-nav root="nav-home">
        <ion-list>
          <ion-item *ngFor="let node of currentFolder" 
            (click)="navigateForward(node)" 
            [button]="!isFile(node)" 
            [detail]="!isFile(node)"
            [disabled]="disableSelection(node)"
          >
            <ion-icon [name]="fileFormat(node)" slot="start"></ion-icon>
            <ion-label>
              {{ node.name }}
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-nav>
    </ion-content>
  </ng-template>
</ion-modal>

<!-- PROGRESS MODAL -->
<ion-modal #modalProgress [canDismiss]="true">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{ step }}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="cancelVideo()">Cancel</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div class="progress">
        <ion-spinner *ngIf="type==='step'"></ion-spinner>
        <ion-progress-bar *ngIf="type==='progress'" [value]="progress/100"></ion-progress-bar>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>

